---
---

@import "{{ site.theme }}";

// hide the "view on GitHub" button
body > section.page-header > a.btn {
    display: none;
}

// justify text
.main-content p {
    text-align: justify;
}

// fix image rotation (experimental)
img {
    image-orientation: from-image;
}